/*header text*/
.div.navbar-header{
    align-content: center;
}

/*navigation bar*/
#mynav{
    background-image: url("pictures/background.jpg");
    opacity: 0.7;
    background-size: cover;
}

/*navigation bar header*/
.navbar-header{
    width: 645px;
    margin: auto;
}

/* navigation brand link*/
a.navbar-brand{
    word-wrap: break-word;
    padding-bottom: 50px;
}

/*navigation bar brand*/
.navbar-brand{
    width:85%;
    font-size: 25px;
    padding:20px 0px 10px 0px;
    text-align: center;
}

/*header tutorial button*/
.intro_button{
    height: 40px;
    width: 200px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #00FF61;
    color:black;
    font-size: 20px;
    padding-bottom: 20px;
}

/*guided tour button under the picture*/
#button-under-pic{
    display: block;
    margin: 50px auto;
    width: 80%;
    padding-top:20px;
}
/*refresh button under all large charts*/
.refresh-button{
    font-size: 20px;
    font-weight: bold;
    font-family: fooregular;
    border-radius: 20px;
    margin: 20px;
    float: right;
}

/*application*/
body.application{
    background-color: black;
    padding: 0px 0px;
    font-family:  focoregular;
    border-color: darkslategray;
}

/*the picture at the start of the project*/
.firstPic{
  max-height: 747px;
  width: 100%;
}

/*background picture*/
.container-fluid{
    background-image: url("pictures/grass.jpg");
    background-size: 100%;
    background-repeat: repeat;
}

/* wrapper for the charts & the title*/
.chart-wrapper .chart-title {
    font-size: 25px;
    text-align: center;
    background-color: darkslategray;
    color: floralwhite;
}

/*wrapper for the charts*/
.chart-wrapper{
    border: 5px solid darkslategray;
}

/*font colour of the players on the line graph*/
.dc-chart g.row text {
    fill: #1d2c4b;
}

/*padding before charts*/
#startCharts{
    padding:0px 50px;
}

/*margin at the bottom of the charts on the right*/
.col-lg-7{
    margin-bottom: 70px;
}

/*Total Goals & Total Points Number display*/
.numberDisplay{
    background: #33CC99;
    position: relative;
    font-size: 50px;
    color: floralwhite;
    vertical-align: middle;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
    display: grid;
    height: 200px;
}

/*to horizontally center the numbers in the number display*/
#total-goals-nd, #total-points-nd{
    padding-top: 15%;
}

/*margin at the bottom of the Number display div*/
.numDispDiv{
    margin-bottom: 50px;
}

/*Pie charts*/
.dc-chart .pie-slice{
    font-size: 18px;
    fill:darkslategray;
}

/*dataTable*/
table {
    border-collapse: collapse;
    width: 100%;
}

/*table*/
th, td {
    padding: 15px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    border-bottom: 1px solid #ddd;
}

/*table hover background color*/
tr:hover {background-color:#f5f5f5;}

/* the text on the tour of the site*/
data-intro{
    font-weight: normal;
}

/*paragraph in the footer*/
P{
    text-align: center;
}
