<!DOCTYPE html>
<html>
<head>
  <title>All Ireland Hurling Championship 2017</title>
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
  <link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />
</head>

<body class="application">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div id="mynav" class="container-fluid">
            <div>
                <a class="navbar-brand" href="./">All Ireland Hurling Championship 2017 - Score Statistics</a>
            </div>
                <button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">
                    Start Tour!</button>

        </div>

    </div>


    <div  id="outer" class="container-fluid">

        <!-- Picture of hurler at the beginning -->
        <div class="firstPic"  data-intro="Click on a <br> - player <br> - Stage of Championship <br> - Breakdown of
        score or a <br> - team <br> to see your selection in closer detail, all charts are linked so for example
        if you click on a player the other charts will update to show you the details for that player i.e the
        number displays will update to show you that players <em> total goals and total points </em> scored in the
        2017 Championship, the <em> stage of championship </em> will update to show you during what stage of the
        championship the player scored, the <em> breakdown of scores </em> will show you how that player scored
        and the <em> games & results </em> will show you the games that the player scored in. <br> So feel free to
        explore this app, and hover over the bars and pie slices to see accurate score values. " data-position="right">
            <img class="firstPic img-responsive" src="static/css/pictures/firstPic.jpg" alt="galway all-ireland-2017">
        </div>

        <div class="row">

            <div class="col-sm-12">

                <div class="row" id="startCharts" >

                    <button id="button-under-pic" class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">
                    ClICK HERE TO TAKE A GUIDED TOUR OF THIS APP!</button>

                     <!-- players row chart - shows all players who scored during 2017-->
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <div class="chart-wrapper">
                            <div class="chart-title" data-step="1" data-intro="This row chart shows all players who
                                 scored during the 2017 Hurling Championship" data-position="right">
                                 Players who scored during the 2017 Hurling Championship
                            </div>
                            <div class="chart-stage" >
                                <div id="players-chart"></div>
                                <button class="refresh-button" data-step="8" data-intro="When you have made a selection on
                                one or more of the graphs, you can click the reset charts button to reload all data"
                                data-position="right" onclick="refresh()">Reset Charts</button>
                            </div>
                        </div>
                    </div>
                    <!-- end players row chart-->

                    <!-- Total Goals Number Display-->
                    <div class="col-lg-3 col-md-6 col-sm-6 numDispDiv">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Total Goals
                            </div>
                            <div class="chart-stage numberDisplay" data-step="2" data-intro="This shows the total number
                                 of goals scored in the 2017 Hurling Championship for your selection " data-position="right">
                                 <div id="total-goals-nd"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END total Goals number display -->

                     <!-- Points Number Display -->
                    <div class="col-lg-4 col-md-6 col-sm-6 numDispDiv">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Total Points
                            </div>
                            <div class="chart-stage numberDisplay" data-step="3" data-intro="This shows the total number
                                 of points scored in the 2017 Hurling Championship for your selection "
                                 data-position="left">
                                 <div id="total-points-nd"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END Points number display -->


                    <!-- Stage Of Championship Pie chart -->
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Stage Of Championship
                            </div>
                            <div class="chart-stage" data-step="4" data-intro="This pie chart shows the stages of the
                                 Hurling Championship and how many scores were scored during each stage"
                                 data-position="left">
                                 <div id="stage-of-all-ireland-chart"></div>
                                 <button class="refresh-button" onclick="refresh()">Reset Charts</button>
                            </div>
                        </div>
                    </div>
                    <!-- END Stage of Championship Pie Chart-->

                    <!-- Score Breakdown Pie Chart-->
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Score Breakdown
                            </div>
                            <div class="chart-stage" data-step="5" data-intro="This pie chart shows a breakdown of the
                                 type of scores that can be scored in Hurling and shows how many of each type was
                                 scored in 2017" data-position="left">
                                <div id="score-breakdown-chart"></div>
                                <button class="refresh-button" onclick="refresh()">Reset Charts</button>
                            </div>
                        </div>
                    </div>
                    <!-- END score breakdown Pie Chart-->

                    <!-- Teams Bar Chart-->
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Teams in the 2017 Hurling Championship
                            </div>
                            <div class="chart-stage" data-step="6" data-intro="This bar chart shows all the teams who
                                 played in the 2017 Hurling Championship and shows how many points and goals they
                                 scored" data-position="left">
                                <div id="teams-chart"></div>
                                <button class="refresh-button" onclick="refresh()">Reset Charts</button>
                            </div>
                        </div>
                    </div>
                    <!-- END teams Bar Chart-->

                    <!-- games table -->
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <div class="chart-wrapper" >
                            <div class="chart-title" data-step="7" data-intro="This table shows the games that took
                                 place during the 2017 Hurling Championship and the results" data-position="left">
                                Games & Results
                            </div>
                            <div class="chart-stage" >
                                <table id="games-table">
                                    <thead>
                                        <tr class="header">
                                        </tr>
                                    </thead>
                                </table>
                                <button class="refresh-button" onclick="refresh()">Reset Charts</button>
                            </div>

                        </div>
                    </div>
                    <!-- end games table -->

                </div>
            </div>
        </div>
    </div>
  <hr>
  <p class="small text-muted">  SARAH BARRON - CODE INSTITUTE STREAM 2 PROJECT </p>
  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
  <script src="{{url_for ('static', filename='lib/js/intro.js')}}" type="text/javascript"></script>
</body>
</html>