<!DOCTYPE html>
<html>
<head>
  <title>All Ireland Hurling Championship 2017</title>
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
  <link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />
</head>

<body class="application">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div id="mynav" class="container-fluid">
            <div>
                <a class="navbar-brand" href="./">All Ireland Hurling Championship 2017 - Score Statistics</a>
            </div>
                <button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">
                    Start Tour!</button>
            </div>

        </div>
    </div>

    <div  id="outer" class="container-fluid">

        <!-- Picture of hurler at the beginning -->
        <div class="firstPic">
            <img class="firstPic img-responsive" src="static/css/pictures/firstPic.jpg" alt="galway all-ireland-2017">
        </div>

        <div class="row">

            <div class="col-sm-12">

                <div class="row" id="startCharts" >

                    <!-- players row chart - shows all players who scored during 2017-->
                    <div class="col-lg-5 col-sm-12">
                        <div class="chart-wrapper">
                            <div class="chart-title" data-step="3" data-intro="This Row Chart shows all players who
                                scored during the 2017 Hurling Championship & how many scores they scored"
                                data-position="right">
                                Players who scored during the 2017 Hurling Championship
                            </div>
                            <div class="chart-stage">
                                <div id="players-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end players row chart-->

                    <!-- Total Goals Number Display-->
                    <div class="col-lg-3 numDispDiv">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Total Goals
                            </div>
                            <div class="chart-stage numberDisplay" data-step="1" data-intro="This shows the total number
                                  of goals scored in the 2017 Hurling Championship for your selection " data-position="right">
                                <div id="total-goals-nd"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END total Goals number display -->

                     <!-- Points Number Display -->
                    <div class="col-lg-3 col-sm-3 numDispDiv">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Total Points
                            </div>
                            <div class="chart-stage numberDisplay" data-step="2" data-intro="This shows the total number
                                  of points scored in the 2017 Hurling Championship for your selection " data-position="left">
                                <div id="total-points-nd"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END Points number display


                    <!-- Stage Of Championship Pie chart -->
                    <div class="col-lg-7">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Stage Of Championship
                            </div>
                            <div class="chart-stage" data-step="4" data-intro="This pie chart shows the stages of the
                                  Hurling Championship and how many scores were scored during each stage"
                                 data-position="left">
                                <div id="stage-of-all-ireland-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END Stage of Championship Pie Chart-->


                    <!-- Score Breakdown Pie Chart-->
                    <div class="col-lg-7">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Score Breakdown
                            </div>
                            <div class="chart-stage" data-step="5" data-intro="This pie chart shows a breakdown of the
                                    type of scores that can be scored in Hurling and it shows how many of each type was
                                    scored in 2017" data-position="left">
                                <div id="score-breakdown-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END score breakdown Pie Chart-->

                    <!-- Teams Bar Chart-->
                    <div class="col-lg-7 col-sm-12">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Teams in the 2017 Hurling Championship
                            </div>
                            <div class="chart-stage" data-step="6" data-intro="This bar chart shows all the teams who
                                 played in the 2017 Hurling Championship and shows how many points they scored & how
                                 many goals they scored" data-position="left">
                                <div id="teams-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END teams Bar Chart-->

                    <!-- games table -->
                    <div class="col-lg-7 col-sm-12">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Games played
                            </div>
                            <div class="chart-stage" data-step="7" data-intro="This table shows the games that took
                                 place during the 2017 Hurling Championship" data-position="left">
                                <div id="teams-chart"></div>
                            </div>
                            <table id="games-table">
                                <thead>
                                    <tr class="header">
                                        <th>Games</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <!-- end games table -->
                </div>
            </div>
        </div>
    </div>
  <hr>
  <p class="small text-muted">  SARAH BARRON - CODE INSTITUTE STREAM 2 PROJECT </p>
  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
  <script src="{{url_for ('static', filename='lib/js/intro.js')}}" type="text/javascript"></script>
</body>
</html>